		<!-- (old) Toggle for menu mobile view -->
        <a href="#" class="z-nav__toggle">
        	<span class="menu-icon"><i class="fa fa-bars"></i><i class="fa fa-times"></i></span>
        </a>


        <!-- (new) Toggle for menu mobile view -->
		<a href="#" class="z-nav__toggle">
			<span class="menu-icon"></span>
			<span class="menu-text">navigation</span>
			<div class="menu-head"></div>
		</a>


		<ul class="z-nav__list-secondary">
			<li class="z-nav__item"><a class="z-nav__link" href="#">Level 2</a></li>
			<li class="z-nav__item"><a class="z-nav__link" href="#">Level 2</a></li>
			<li class="z-nav__item">
				<span class="z-nav__toggle-sub plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
				<a class="z-nav__link" href="#">Level 2</a>
				<ul class="z-nav__list-secondary z-nav_nested">
					<li class="z-nav__item"><a class="z-nav__link" href="#">Level3</a>
					<li class="z-nav__item"><a class="z-nav__link" href="#">Level3</a>
				</ul>
			</li>		                   					                    
		</ul>
		<!-- end subsidiary menu list-->