.z-nav__toggle {
  width: 393px;
  height: 48px;
  padding-left: 72px;
  background-color: transparent;
  border: none;
  -webkit-transform: translate3d(371px, 0, 0);
  -moz-transform: translate3d(371px, 0, 0);
  -ms-transform: translate(371px, 0);
  transform: translate3d(371px, 0, 0);
  -webkit-transition: -webkit-transform 500ms ease 300ms;
  -moz-transition: -moz-transform 500ms ease 300ms;
  transition: transform 500ms ease 300ms;
}
.z-nav__toggle.open-nav {
  -webkit-transform: translate3d(50px, 0, 0);
  -moz-transform: translate3d(50px, 0, 0);
  -ms-transform: translate(50px, 0);
  transform: translate3d(50px, 0, 0);
  -webkit-transition: -webkit-transform 500ms ease 400ms;
  -moz-transition: -moz-transform 500ms ease 400ms;
  transition: transform 500ms ease 400ms;
}
.z-nav__toggle.open-nav .menu-text {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 800ms;
  -moz-transition-delay: 800ms;
  -o-transition-delay: 800ms;
  -ms-transition-delay: 800ms;
  transition-delay: 800ms;
}
.z-nav__toggle.open-nav .menu-icon {
  -webkit-transform: translate3d(-24px, 0, 0);
  -moz-transform: translate3d(-24px, 0, 0);
  -ms-transform: translate(-24px, 0);
  transform: translate3d(-24px, 0, 0);
  -webkit-transition: -webkit-transform 300ms ease 0ms;
  -moz-transition: -moz-transform 300ms ease 0ms;
  -ms-transition: -ms-transform 300ms ease 0ms;
  transition: transform 300ms ease 0ms;
}
.menu-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-top: 0px;
  background-color: #85d6de;
  background-image: url(../images/icons/menu-icon.svg);
  background-size: 48px;
  background-position: -2px -1px;
  background-repeat: no-repeat;
  border: 1px solid #85d6de;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -webkit-transform: translate3d(-72px, 0, 0);
  -moz-transform: translate3d(-72px, 0, 0);
  -ms-transform: translate(-72px, 0);
  transform: translate3d(-72px, 0, 0);
  -webkit-transition: -webkit-transform 300ms ease 900ms;
  -moz-transition: -moz-transform 300ms ease 900ms;
  -ms-transition: -ms-transform 300ms ease 900ms;
  transition: transform 300ms ease 900ms;
}
.menu-text {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 14px;
  left: 107px;
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  transition-delay: 0ms;
}
.menu-head {
  width: 100%;
  height: 100%;
  margin-top: -53px;
  background-color: #85d6de;
}
@media (min-width: 769px) {
  .z-nav {
    margin: 0;
    background: none;
    position: relative;
    z-index: 20;
    margin-right: -30px;
  }
  .z-nav .z-nav__item {
    padding: 0;
  }
  .z-nav .z-nav__link {
    padding: 42px 20px;
    font: 14px 'Open Sans', sans-serif;
    color: #ffffff;
    -webkit-transition: color 300ms ease, background 300ms ease;
    -moz-transition: color 300ms ease, background 300ms ease;
    transition: color 300ms ease, background 300ms ease;
  }
  .z-nav .z-nav__link:hover,
  .z-nav .z-nav__link:focus {
    text-decoration: none;
  }
  .z-nav .z-nav__link:hover {
    color: #34495e;
    background-color: #85d6de;
  }
  .z-nav .z-nav__link--simple:hover {
    color: #85d6de;
    background-color: transparent;
  }
  .z-nav .z-nav__link--active {
    color: #758594;
    background-color: transparent;
  }
  .z-nav__list-secondary .z-nav__item {
    position: relative;
    border: none;
  }
  .z-nav__list-secondary .z-nav__link {
    padding: 8px 0 7px 10px;
    color: #34495e;
  }
  .z-nav__list-secondary .z-nav__link:before {
    content: "\f111";
    position: absolute;
    top: 15px;
    left: -5px;
    font: 5px FontAwesome;
    color: #34495e;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
  }
  .z-nav__list-secondary .z-nav__link:hover,
  .z-nav__list-secondary .z-nav__link:hover:before {
    color: #ffffff;
  }
  .z-nav__item .z-nav__list-secondary {
    top: 103px;
    width: 210px;
    padding-top: 27px;
    padding-bottom: 28px;
    background-color: #85d6de;
  }
  .z-nav__item .z-nav__list-secondary:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 3000px;
    padding-left: 3000px;
    margin-left: -3000px;
    background-color: #85d6de;
  }
  .z-nav__list.open-nav {
    -webkit-animation: slide-left 0ms forwards 0ms;
    /* Safari 4+ */
    -moz-animation: slide-left 0ms forwards 0ms;
    /* Fx 5+ */
    animation: slide-left 0ms forwards 0ms;
    /* IE 10+ */
  }
  .z-nav__list.close-nav {
    -webkit-animation: slide-right 0ms backwards 0ms;
    /* Safari 4+ */
    -moz-animation: slide-right 0ms backwards 0ms;
    /* Fx 5+ */
    animation: slide-right 0ms backwards 0ms;
    /* IE 10+ */
  }
  .z-nav__item:hover .z-nav__list-secondary .z-nav__list-secondary {
    z-index: 0;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .z-nav__item:hover .z-nav__list-secondary .z-nav__list-secondary:before {
    z-index: -1;
  }
  .z-nav__list-secondary .z-nav__item .z-nav_nested {
    background: #85d6de;
    display: none;
    position: absolute;
    z-index: 0;
    width: 250px;
    top: 0;
    left: 0;
    padding-bottom: 20px;
    padding-top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translate(-100%, 0);
    transform: translateX(-100%);
  }
  .z-nav__list-secondary .z-nav__link {
    position: relative;
    z-index: 20;
  }
  .z-nav__list-secondary .z-nav__item:hover .z-nav_nested {
    display: block;
  }
  @-webkit-keyframes slide-left {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes slide-left {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes slide-left {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-right {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes slide-right {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes slide-right {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (max-width: 768px) {
  .z-nav--shop {
    margin-right: 0px;
  }
  .fixed-top {
    position: static;
  }
  .header-up {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .header-line {
    margin-bottom: 0;
  }
  .z-nav__toggle {
    z-index: 1500;
    position: relative;
  }
  .z-nav {
    position: absolute;
    top: 0;
    right: 15px;
    margin: 15px;
    background: none;
  }
  .z-nav__list {
    right: -35px;
    top: 58px;
    z-index: 100;
    display: block;
    width: 310px;
    padding: 20px 0;
    background-color: #34495e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .z-nav__list .z-nav__item {
    border: none;
  }
  .z-nav__list .z-nav__link {
    padding: 0 30px;
    font-style: normal;
  }
  .z-nav__list .z-nav__link:hover {
    color: #85d6de;
  }
  .z-nav__list .z-nav__link:focus {
    color: #ffffff;
    text-decoration: none;
  }
  .z-nav__list .z-nav__toggle-sub {
    margin-top: 0;
    margin-right: 20px;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
  }
  .z-nav__list .z-nav__toggle-sub .fa {
    margin-top: -4px;
  }
  .z-nav__list .z-nav__toggle-sub .fa-plus:before {
    content: "\f13a";
    font-size: 14px;
  }
  .z-nav__list .z-nav__toggle-sub .fa-minus:before {
    content: "\f139";
    font-size: 14px;
  }
  .z-nav__link {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
  .z-nav__toggle-sub.plus {
    background-color: #34495e;
  }
  .z-nav__toggle-sub.plus + .z-nav__link {
    background-color: #34495e;
  }
  .z-nav__toggle-sub {
    background-color: #273747;
  }
  .z-nav__toggle-sub + .z-nav__link {
    background-color: #273747;
  }
  .z-nav__list-secondary {
    background-color: #273747;
  }
  .z-nav__list-secondary .z-nav__item {
    max-width: 100%;
    padding-left: 34px;
    padding-right: 34px;
  }
  .z-nav__list-secondary .z-nav__link {
    width: 100%;
    color: #758594;
  }
  .z-nav__list {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .z-nav__list.open-nav {
    -webkit-animation: slide-left 500ms forwards 400ms;
    /* Safari 4+ */
    -moz-animation: slide-left 500ms forwards 400ms;
    /* Fx 5+ */
    animation: slide-left 500ms forwards 400ms;
    /* IE 10+ */
    -ms-transform: translate(0, 0);
  }
  .z-nav__list.close-nav {
    -webkit-animation: slide-right 500ms backwards 300ms;
    /* Safari 4+ */
    -moz-animation: slide-right 500ms backwards 300ms;
    /* Fx 5+ */
    animation: slide-right 500ms backwards 300ms;
    /* IE 10+ */
    -ms-transform: translate(100%, 0);
  }
  .z-nav__list-secondary .z-nav__item .z-nav__toggle-sub {
    margin-right: -15px;
  }
  .z-nav__list-secondary .z-nav__item .z-nav__toggle-sub.plus + .z-nav__link {
    background-color: #273747;
  }
  .z-nav__list-secondary .z-nav__list-secondary {
    background: #34495e;
    margin-bottom: 10px;
  }
  .z-nav__list-secondary .z-nav__list-secondary .z-nav__link {
    padding: 10px 0 10px 12px;
    line-height: 21px;
  }
  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translate3d(100%, 0, 0);
      opacity: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @-moz-keyframes slide-left {
    0% {
      -moz-transform: translate3d(100%, 0, 0);
      opacity: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes slide-left {
    0% {
      transform: translate3d(100%, 0, 0);
      opacity: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate3d(100%, 0, 0);
      opacity: 0;
    }
  }
  @-moz-keyframes slide-right {
    0% {
      -moz-transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate3d(100%, 0, 0);
      opacity: 0;
    }
  }
  @keyframes slide-right {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      transform: translate3d(100%, 0, 0);
      opacity: 0;
    }
  }
}