<head>
	<!-- *** General page information *** -->
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
	<meta charset="utf-8">
	<title>Page name</title>
	<!-- Mobile Specific Metas-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Template info -->
	<meta name="author" content="Owlabs">
	<meta name="description" content="Owlabs Modern, Responsive, Retina Ready Template">
	<meta name="keywords" content="HTML, CSS, JavaScript">

	<!-- *** Stylesheets *** -->
	<!--  -->
	<link rel="stylesheet" href="">
	<!-- Style -->
	<link rel="stylesheet" href="style.css?v=1">

	<!-- *** Fonts *** -->
	<!--  -->
	<link rel="stylesheet" href="">

	<!-- *** Favicons *** -->
	<!--[if IE]><link rel="icon"  href="favicon.ico" /><![endif]-->
	<link rel="icon" href="favicon.png">
	<!-- Specifying a Webpage Icon for Web Clip -->
	<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72"  href="apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114"  href="apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144"  href="apple-touch-icon-144x144-precomposed.png">

	<!-- *** Scripts *** -->
	<!--  -->
	<script src=""></script>

	<!-- *** IE compatibility *** -->
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>          	
	<![endif]-->
	
	<!-- Stylesheet for IE8-9 -->
	<!--[if lte IE 9]>
        <link href="css/ie9.css?v=1" rel="stylesheet" />
	<![endif]-->

	<!-- *** Opengraf *** -->
	<meta property="og:title" content="">
	<meta property="og:type" content="">
	<meta property="og:image" content="">
	<meta property="og:url" content="">
	<meta property="og:description" content="">

	<!-- Twitter social metas -->
	<meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="">
	<meta name="twitter:url" content="">

</head>